<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Car or Cat Form</title>
    <link rel="stylesheet" href="http://localhost:7077/styles/main.css" media="screen" title="no title">
</head>
<body>
    <h1>Add a new car</h1>
    <form action="">
        make <input type="text">
        model <input type="text">
        <input type="submit" value="Add new car">
    </form>
    <h1>Add a new cat</h1>
    <form action="">
        species <input type="text">
        color <input type="text">
        <input type="submit" value="Add new car">
    </form>
</body>
</html>